@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
}

.background {
  background: red url("../images/background.jpeg");
  color: white;
  text-align: center;
  padding-bottom: 4em;
  background-position: 12% 83%;
}
header {
  padding: 1em 0;
}

.background a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    /* better to use rem for font sizes */
    font-size: 1.3rem;
}

section {
  margin: 0 1em;
}

h1 {
  font-size: 1.4rem;
  margin: 2em 0 1.2em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: .5em;
  padding: 0.4em;
}

h1 span {
  text-transform: uppercase;
  /* display block is making the span element be on its own line */
  display: block;
  font-size: 2.5rem;
  position: relative;
  z-index: 1;
}

/* making the graphic */
h1 span::before {
  content: "";
  position: absolute;
  width: 3em;
  background: rgb(124, 7, 7);
  height: .4em;
  bottom: 0;
  z-index: -1;
  margin-left: -.3em;
}

.background p {
  font-weight: bold;
  margin: 0 1em 3em;
  background-color: white;
  color: rgb(46, 46, 46);
  border-radius: .5em;
  padding: 0.4em;
}

.form-container {
  background-color: white;
  margin: 2em -1em 0;
  padding: 2em;
}

label {
  color: #660606;
  font-weight: bold;
  display: block;
  margin-bottom: 1em;
  font-size: 1.5em;
}

input[type=text] {
  border: 1px solid #707070;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0.5em;
  margin-top: 1.2em;
}

.form-container p {
  color: gray;
  margin-bottom: 1.5em;
  margin-top: 0.3em;
  font-weight: normal;
  font-size: 0.9em;
}

input[type=button] {
  background-color: #0d7434;
  border: none;
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 1em 0;
  border-radius: .5em;
  font-size: 1.3em;
  cursor: pointer;
}

